.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}
.hero img{
    width: 18%;
    border-radius: 50%;
    margin-top: 40px;
}
.hero h1{
  text-align: center;
  width: 60%;
  font-size: 45px;
  font-weight: 500;
}
.hero h1 span{
    background: linear-gradient(270deg , #DF8908 10% , #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}
.hero-connect{
    padding: 18px 30px;
    border-radius: 50px;
    background: linear-gradient(264deg , #DF8908 -5.09% ,#B415FF 106%.28%);
    cursor: pointer;
}
.hero-resume{
    padding: 16px 60px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid white;
}
.hero-resume:hover{
    border-color: #B415FF;
}